.App{
  margin: auto;
  width: 50%;
  text-align: center;

}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  max-width: 600px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-button{
  background-color: blue;
}
.add-button:hover{
  background-color: blueviolet;
}


input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
ol{
  padding: 0;

}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  background-color: aliceblue;
  margin-bottom: 10px;
  border: 3px solid red;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex:1;
}



.delete-button{
  padding: 8px 12px;
  font-size: 1.5rem;
  margin-left: 10px;
  background-color: rgb(158, 16, 94);
}

.delete-button:hover{
  background-color: blueviolet;
}

.status-button{
  padding: 8px 12px;
  font-size: 1.5rem;
  margin-left: 10px;
  background-color: rgb(158, 16, 94);
}


.status-button.completed {
  background-color: #4CAF50;
  color: white;
}
.status-button.completed:hover {
  background-color: #f44336;
}

.status-button.pending {
  background-color: #f44336;
  color: white;
}
.status-button.pending:hover {
  background-color: #4CAF50;
}

.text.completed {
  opacity: 0.6;
}

